/* To overwrite against default browser settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body background colour */
body {
    background-color: #d9dcd6;
}
/* Header section of the HTML page */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* For h1 Horiseon logo */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* h1 header font colour for seo letters */
.seo {
    color: #d9dcd6;
}
/* navigation bar settings  */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}
/* consolidated ul and a settings */
header ul, header a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    color: #ffffff;
    text-decoration: none;
}
/* cannot be consolidated into the header ul a otherwise <a> tags get margins */
header li {
    display: inline-block;
    margin-left: 25px;
}
/* paragraph settings */
p {
    font-size: 16px;
}
/* Background image settings */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Main content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* search engine optimization section */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* position of search-engine-optimization img and social-media-marketing img */
.float-left, .search-engine-optimization img, .social-media-marketing img {
    float: left;
    margin-right: 25px;
    max-height: 200px
}
/* h2, h3, h4 header settings */
.search-engine-optimization h2, .online-reputation-management h3, .social-media-marketing h4 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Online reputation management section */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* position of online-reputation-management img */
.float-right, .online-reputation-management img {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}
/* Social media marketing section */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* benefits aside tag */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* font colours for text, cannot consolidate with headers due to margin settings */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* h3 font-size is 1.17em is approximately equal to 18.72px
   heading font sizes use em measurement and can be converted
   to pixels. Found from using Google dev tools. */
.benefit-lead h5, .benefit-brand h5, .benefit-cost h5 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.17em;
    font-weight: bold;
}
/* consolidation of benefits image settings */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* footer settings */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* h6 settings cannot be consolidated due to padding from footer */
footer h6 {
    font-size: 20px;
}
